:root {
  --theme-646cffaa: #646cffaa;
  --theme-61dafbaa: #61dafbaa;
  --theme-888: #888;
  --theme-0f172a: #0f172a;
  --theme-020617: #020617;
  --theme-e2e8f0: #e2e8f0;
  --theme-334155: #334155;
  --theme-94a3b8: #94a3b8;
  --theme-1e293b: #1e293b;
  --theme-cbd5e1: #cbd5e1;
  --theme-7c3aed: #7c3aed;
  --theme-fff: #fff;
  --theme-0ea5e9: #0ea5e9;
  --theme-16a34a: #16a34a;
  --theme-475569: #475569;
  --theme-rgba-2-6-23-0-72: rgba(2, 6, 23, 0.72);
  --theme-rgba-99-102-241-0-23: rgba(99, 102, 241, 0.23);
  --theme-transparent: transparent;
  --theme-rgba-236-72-153-0-18: rgba(236, 72, 153, 0.18);
  --theme-040712: #040712;
  --theme-0a0e1f: #0a0e1f;
  --theme-13132d: #13132d;
  --theme-f1f5f9: #f1f5f9;
  --theme-rgba-255-255-255-0-14: rgba(255, 255, 255, 0.14);
  --theme-rgba-5-8-23-0-94: rgba(5, 8, 23, 0.94);
  --theme-rgba-5-8-23-0-56: rgba(5, 8, 23, 0.56);
  --theme-rgba-5-8-23-0-84: rgba(5, 8, 23, 0.84);
  --theme-rgba-147-197-253-0-28: rgba(147, 197, 253, 0.28);
  --theme-rgba-226-232-240-0-94: rgba(226, 232, 240, 0.94);
  --theme-22c55e: #22c55e;
  --theme-14b8a6: #14b8a6;
  --theme-rgba-255-255-255-0-2: rgba(255, 255, 255, 0.2);
  --theme-rgba-15-23-42-0-5: rgba(15, 23, 42, 0.5);
  --theme-rgba-15-23-42-0-72: rgba(15, 23, 42, 0.72);
  --theme-rgba-148-163-184-0-42: rgba(148, 163, 184, 0.42);
  --theme-rgba-15-23-42-0-78: rgba(15, 23, 42, 0.78);
  --theme-rgba-125-211-252-0-8: rgba(125, 211, 252, 0.8);
  --theme-rgba-56-189-248-0-9: rgba(56, 189, 248, 0.9);
  --theme-rgba-14-116-144-0-82: rgba(14, 116, 144, 0.82);
  --theme-rgba-3-105-161-0-9: rgba(3, 105, 161, 0.9);
  --theme-f8fafc: #f8fafc;
  --theme-rgba-148-163-184-0-2: rgba(148, 163, 184, 0.2);
  --theme-rgba-17-25-40-0-9: rgba(17, 25, 40, 0.9);
  --theme-rgba-17-25-40-0-72: rgba(17, 25, 40, 0.72);
  --theme-rgba-3-7-18-0-46: rgba(3, 7, 18, 0.46);
  --theme-rgba-255-255-255-0-08: rgba(255, 255, 255, 0.08);
  --theme-rgba-191-219-254-0-36: rgba(191, 219, 254, 0.36);
  --theme-rgba-3-7-18-0-58: rgba(3, 7, 18, 0.58);
  --theme-rgba-255-255-255-0-12: rgba(255, 255, 255, 0.12);
  --theme-2563eb: #2563eb;
  --theme-rgba-148-163-184-0-45: rgba(148, 163, 184, 0.45);
  --theme-rgba-15-23-42-0-2: rgba(15, 23, 42, 0.2);
  --theme-rgba-148-163-184-0-35: rgba(148, 163, 184, 0.35);
  --theme-rgba-148-163-184-0-18: rgba(148, 163, 184, 0.18);
  --theme-rgba-30-41-59-0-8: rgba(30, 41, 59, 0.8);
  --theme-rgba-30-41-59-0-56: rgba(30, 41, 59, 0.56);
  --theme-rgba-147-197-253-0-42: rgba(147, 197, 253, 0.42);
  --theme-rgba-148-163-184-0-4: rgba(148, 163, 184, 0.4);
  --theme-rgba-15-23-42-0-92: rgba(15, 23, 42, 0.92);
  --theme-rgba-56-189-248-0-74: rgba(56, 189, 248, 0.74);
  --theme-rgba-56-189-248-0-18: rgba(56, 189, 248, 0.18);
  --theme-rgba-148-163-184-0-24: rgba(148, 163, 184, 0.24);
  --theme-rgba-30-41-59-0-76: rgba(30, 41, 59, 0.76);
  --theme-7dd3fc: #7dd3fc;
  --theme-rgba-148-163-184-0-32: rgba(148, 163, 184, 0.32);
  --theme-rgba-30-41-59-0-66: rgba(30, 41, 59, 0.66);
  --theme-rgba-15-23-42-0-9: rgba(15, 23, 42, 0.9);
  --theme-dbe7ff: #dbe7ff;
  --theme-rgba-37-99-235-0-34: rgba(37, 99, 235, 0.34);
  --theme-1d4ed8: #1d4ed8;
  --theme-0f766e: #0f766e;
  --theme-0d9488: #0d9488;
  --theme-ea580c: #ea580c;
  --theme-dc2626: #dc2626;
  --theme-0ea5a5: #0ea5a5;
  --theme-rgba-148-163-184-0-48: rgba(148, 163, 184, 0.48);
  --theme-06b6d4: #06b6d4;
  --theme-rgba-2-6-23-0-78: rgba(2, 6, 23, 0.78);
  --theme-rgba-15-23-42-0-95: rgba(15, 23, 42, 0.95);
  --theme-rgba-15-23-42-0-86: rgba(15, 23, 42, 0.86);
  --theme-rgba-148-163-184-0-3: rgba(148, 163, 184, 0.3);
  --theme-rgba-2-6-23-0-58: rgba(2, 6, 23, 0.58);
  --theme-ef4444: #ef4444;
  --theme-b91c1c: #b91c1c;
  --theme-rgba-148-163-184-0-26: rgba(148, 163, 184, 0.26);
  --theme-rgba-8-13-30-0-72: rgba(8, 13, 30, 0.72);
  --theme-ced4da: #ced4da;
  --theme-ffffff: #ffffff;
  --theme-212529: #212529;
  --theme-86b7fe: #86b7fe;
  --theme-rgba-13-110-253-0-25: rgba(13, 110, 253, 0.25);
  --theme-9fb0c6: #9fb0c6;
  --theme-rgba-15-23-42-0-74: rgba(15, 23, 42, 0.74);
  --theme-rgba-239-68-68-0-6: rgba(239, 68, 68, 0.6);
  --theme-rgba-127-29-29-0-35: rgba(127, 29, 29, 0.35);
  --theme-fecaca: #fecaca;
  --theme-rgba-30-41-59-0-68: rgba(30, 41, 59, 0.68);
  --theme-rgba-15-23-42-0-84: rgba(15, 23, 42, 0.84);
  --theme-rgba-30-41-59-0-72: rgba(30, 41, 59, 0.72);
  --theme-rgba-147-197-253-0-44: rgba(147, 197, 253, 0.44);
  --theme-rgba-56-189-248-0-78: rgba(56, 189, 248, 0.78);
  --theme-rgba-56-189-248-0-2: rgba(56, 189, 248, 0.2);
  --theme-rgba-148-163-184-0-28: rgba(148, 163, 184, 0.28);
  --theme-rgba-30-41-59-0-62: rgba(30, 41, 59, 0.62);
  --theme-rgba-148-163-184-0-34: rgba(148, 163, 184, 0.34);
  --theme-rgba-56-189-248-0-75: rgba(56, 189, 248, 0.75);
  --theme-rgba-15-23-42-0-98: rgba(15, 23, 42, 0.98);
  --theme-rgba-34-197-94-0-9: rgba(34, 197, 94, 0.9);
  --theme-rgba-34-197-94-0-2: rgba(34, 197, 94, 0.2);
  --theme-fda4af: #fda4af;
}
